/* etiquera HTML va directamente sin nombre*/
/*CLASES VA CON "." ADELANTE*/
/* ID VA CON "#" ADELANTE*/

body{
    background-color: slategray;
    color: black
   }
    #redes{
        text-align: center;
        margin: auto;
    
    }
    li{
        list-style-type: none;
        margin-left: -3.5%;
        
    }

    .imgRedonda{
        border-radius: 10%;
  
    }

    .titulo{
        font-size: 5rem;
         
    }
    .nombrePerfil{
        color: white;
        font-size: 5rem;
        border-style: solid;
    }
    .apellido{
        color: dodgerblue;
        font-size: 5rem;
 
    }

    #sobre{
        background-color: aquamarine;
    }

    #segunda{
        background-color: brown;
    }

    .logoAP{
        filter: invert();
    }